@import 'base.css';
@import 'lightbox.css';

$from: white;
$to: rgba(225, 225, 225, .0001);
$font-stack: 'Unna', serif;
$font-stack2: 'Roboto', sans-serif;
$accent-color: #D1C600;
$accent-color2: #0C6285;
$gray: #5A5A5A;

@mixin linear-gradient {
   background-color: $to;
   background-image: -moz-linear-gradient($from 80%, $to);
   background-image: -o-linear-gradient($from 80%, $to);
   background-image: -webkit-gradient(linear, top, bottom, color-stop(0, $from), color-stop(1,$to));
   background-image: -webkit-linear-gradient($from 80%, $to);
   background-image: -ms-linear-gradient($from 80%, $to);
   background-image: linear-gradient($from 80%, $to);
}
* {
   margin: 0;
   padding:0;
}
body {
   background-image: url(../img/handmadepaper.png);
}
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 150px;
   @include linear-gradient;
   z-index: 30;
   a {
      text-decoration: none;
      color: $accent-color;
      &:hover {
         color: $accent-color2;
      }
   }
   h1 {
      font-size: 4.1rem;
      font-family: $font-stack;
      margin: 15px 0 0 70px;
      padding-top: 40px;
      line-height: 3.5rem;
      font-weight: bold;
      span {
         font-size: 2rem;
      }
   }
   nav {
      width: 50%;
      margin-left: 50px;
      ul {
         float: left;
         border-top: 4px solid $accent-color2;
         margin-top: 50px;
         padding-top: 30px;
         padding-left: 20px;
         width: 325px;
         height: 260px;
         font-size: 1.5rem;
         font-family: $font-stack2;
         font-weight: 100;
         line-height: 3rem;
      }
      li {
         a {
            font-family: $font-stack2;
            font-weight: 100;
            text-decoration: none;
            color: $gray;
            &:hover {
               color: $accent-color;
            }
         }
      }
   }
}
main {
   z-index:10;
   margin-left: 395px;
   p {
      color: $gray;
      #top {
         height: 290px;
         color: transparent;
      }
   }
   div {
      font-family: $font-stack2;
      border-top: 4px solid $accent-color2;
      &.hello {
         margin-top: 145px;
         margin-right: 50px;
         padding-left: 70px;
         height: 570px;
      }
      &.IdentityDesign{
         margin-top: 25px;
         margin-right: 50px;
         padding-left: 70px;
         height: 650px;
         div {
            border: 1px solid $accent-color2;
            padding: 10px;
         }
      }
      &.WebDesign {
         margin-top: 161px;
         margin-right: 50px;
         padding-left: 70px;
         height: 570px;
         img {
            width: 40%;
            margin-right: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
         }
         p {
            width: 80%;
            a {
               &:link {
                  text-decoration: none;
                  color: $accent-color;
               }
               &:visited{
                  text-decoration: none;
                  color: $accent-color;
               }
               &:hover{
                  color: $accent-color2;
               }
            }
         }
      }
      &.HealthComm{
         margin-top: 95px;
         margin-right: 50px;
         padding-left: 70px;
      }
      &.resume{
         margin-top: 131px;
         margin-right: 50px;
         padding-left: 70px;
         p {
            padding-top: 15px;
            width: 100%;
            span {
               color: $accent-color2;
                  a {
                     &:link {
                        font-size: 1.3rem;
                        text-decoration: none;
                        color: $accent-color;
                     }
                     &:visited {
                        text-decoration: none;
                        color: $accent-color;
                     }
                     &:hover {
                        color: $accent-color2;
                     }
                  }
            }
            a {
               &:link {
               text-decoration: none;
               font-size: 1rem;
               color: $accent-color;
               }
               &:visited {
                  text-decoration: none;
                  color: $accent-color;
               }
               &:hover {
                  color: $accent-color2;
               }
            }
         }
         img{
            height: 500px;
         }
      }
      #WebDesign, #HealthComm, #Resume {
         color: transparent;
      }
      h2 {
         margin: 30px 0 10px 0;
         font-size: 3rem;
         font-family: $font-stack;
         font-weight: bold;
         color: $accent-color;
      }
      p{
         width: 600px;
         font-family: $font-stack2;
         font-weight: 100;
         font-size: 1.3rem;
         line-height: 1.9rem;
         &#IdentityDesign {
            color: transparent;
      }
         &#links {
            font-family: $font-stack;
            padding-top: 30px;
            padding-bottom: 136px;
            font-size: 1.5rem;
            a {
               &:link {
                  color: $accent-color2;
                  text-decoration: none;
               }
               &:visited {
                  color: $accent-color2;
                  text-decoration: none;
               }
               &:hover {
                  color: $accent-color;
                  text-decoration: none;
               }
         }
      }
   }
   div {
         &.grid{
            width: 900px;
            border: none;
            height: 570px;
            margin: 50px 0 0 0;
            padding: 0;
         .none{
            display: none;
         }
         div {
            margin: 0;
            padding: 10;
            border: none;
         &.creperie {
            border-top: 2px solid $accent-color;
            width: 200px;
            height: 230px;
            margin-bottom: 10px;
            img {
               width: 100%;
            }
         }
         &.cruze {
            border-top: 2px solid $accent-color2;
            width: 200px;
            height:  200px;
            img {
               width: 100%;
            }
         }
         &.celestial {
            border-top: 2px solid $accent-color;
            width: 200px;
            height: 500px;
            img {
               width: 100%;
            }
         }
         &.smoothie {
            border-top: 2px solid $accent-color2;
            width: 200px;
            height: 500px;
            img {
               width: 100%;
            }
         }
         &.MOLST {
            border-top: 2px solid $accent-color;
            height: 250px;
            width: 200px;
            img {
               padding: 10px 0 0 10px;
               width: 90%;
            }
         }
         &.respect {
            border-top: 2px solid $accent-color2;
            padding-top: 10px;
            height: 200px;
            width: 200px;
            img {
               width: 100%;
            }
         }
         &.proxy {
            border-top: 2px solid $accent-color;
            padding: 10px;
            height: 200px;
            width: 200px;
            img {
               width: 100%;
            }
         }
      }
   }
}
}
}
footer {
   margin: 60px 0 60px 60px;
   a {
      &:link {
         text-decoration: none;
         color: $accent-color;
      }
      &:visited {
         text-decoration: none;
         color: $accent-color;
      }
      &:hover {
         color: $accent-color2;
      }
   }
   p{
      font-family: $font-stack2;
      font-weight: 100;
      font-size: .8rem;
   }
}
